.banner {
  position: relative;

  background-image: var(--p-src);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border-radius: $border-radius-lg;
  overflow: hidden;

  isolation: isolate;

  @include tablet-and-desktop {
    aspect-ratio: 1200/200;
  }

  @include tablet-and-mobile {
    aspect-ratio: 305/200;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
    z-index: -1;
  }
}
