.button {
  @include flex;

  border-radius: $border-radius;

  &:not([data-link]),
  &:not([data-link="true"]),
  &[data-link="true"]:hover:not(:disabled) {
    background-color: rgb(var(--p-accent));
    color: var(--p-text-accent, white);
  }

  line-height: 1em;
  padding: 0.75rem;

  font-weight: 600;
  transition: background-color, opacity $normal-transition;

  &:not([data-auto-width="true"]) {
    width: 100%;
  }

  &:focus-visible {
    @include shadow(rgba(var(--p-accent), 0.6));
  }

  &:disabled {
    opacity: $disabled-opacity;
    cursor: no-drop;
  }
}
