.drawer {
  overflow: hidden;
  white-space: nowrap;
  transition: width $normal-transition;

  &[aria-expanded="true"] {
    width: var(--p-max-width);
  }

  &[aria-expanded="false"] {
    width: var(--p-min-width);
  }
}
