.drawer {
  overflow: hidden;
  white-space: nowrap;
  background-color: $s-neutral-bg;

  transition: width $normal-transition;

  &[aria-expanded="true"] {
    width: var(--p-max-width);
  }

  &[aria-expanded="false"] {
    width: var(--p-min-width);
  }

  &[data-strategy="absolute"] {
    position: fixed;
    inset: 0;
    z-index: 1000;
    height: 100dvh;

    box-shadow: 0 0 10px 0 rgba(var(--s-neutral-900), 0.2);
  }
}
