.toast {
  position: fixed;
  inset: 20px;
  width: max-content;
  max-width: calc(100dvw - 40px);
  height: max-content;

  padding: 12px 18px;

  display: flex;
  align-items: center;
  gap: 10px;

  border-radius: $border-radius-lg;

  animation: slide-in var(--p-time) ease,
    slide-in var(--p-time) reverse ease forwards var(--p-delay);

  background-color: var(--p-bg);
  box-shadow: 0 0 6px rgba(var(--neutral-900), 0.2);

  &,
  svg {
    color: var(--p-color);
  }

  & > div {
    min-width: 21px;

    & > svg {
      width: 21px;
      height: 21px;
    }
  }

  button:hover svg {
    color: $neutral-900;
  }

  z-index: $zindex-tooltip;

  @keyframes slide-in {
    from {
      opacity: 0;
      inset: 20px -600px;
    }
    to {
      opacity: 1;
      inset: 20px;
    }
  }
}
