.button {
  @include flex;

  border-radius: $border-radius;
  background-color: rgb(var(--p-accent));
  color: var(--p-text-accent, white);

  &:not([data-auto-width="true"]) {
    width: 100%;
  }

  line-height: 1em;
  padding: 0.75rem;

  font-weight: 600;
  transition: background-color, opacity $normal-transition;

  &:focus-visible {
    // @include shadow(rgba(var(--p-accent), 0.6));
  }

  &:disabled {
    opacity: 0.5;
    cursor: no-drop;
  }
}
