.collapse {
  width: 100%;

  &[aria-expanded="true"] > div:last-child {
    grid-template-rows: 1fr;
  }

  & > div:last-child {
    display: grid;
    grid-template-rows: 0fr;

    transition: grid-template-rows $normal-transition;

    & > div {
      overflow: hidden;
    }
  }
}
