:where(.baseButton) {
  &[data-variant="primary"] {
    --p-accent: var(--primary);
  }
  &[data-variant="secondary"] {
    --p-accent: var(--s-neutral-300);
    --p-text-accent: var(--s-neutral-text);
    --p-accent-hover: var(--s-neutral-400);
  }
  &[data-variant="success"] {
    --p-accent: var(--success);
  }
  &[data-variant="danger"] {
    --p-accent: var(--danger);
  }
  &[data-variant="warning"] {
    --p-accent: var(--warning);
    --p-text-accent: var(--neutral);
  }

  @extend .reset-outline !optional;

  border: none;
  background-color: inherit;
  font-size: $fs-normal;
  cursor: pointer;

  svg {
    pointer-events: none;
  }
}
