$border-radius-sm: 0.25rem; // for small items
$border-radius: 0.5rem;
$border-radius-lg: 1rem; // for large items

$normal-transition: 0.2s ease-in-out;

$content-max-width: 600px; // humans are like that

$disabled-opacity: 0.5;
