@use "vars" as *;
@use "mixins" as *;

.d-block {
  display: block;
  width: 100%;
}

.d-inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.text-decoration {
  text-decoration: underline;
}

.outline {
  @include outline;
}

.hover-text-decoration {
  &:hover {
    @extend .text-decoration;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.rounded {
  border-radius: $border-radius;
}

.rounded-sm {
  border-radius: $border-radius-sm;
}

.rounded-lg {
  border-radius: $border-radius-lg;
}

.content-max-width {
  max-width: $content-max-width;
}

.content-max-width-lg {
  max-width: $content-max-width-lg;
}

.content-max-width-sm {
  max-width: $content-max-width-sm;
}
