.badge {
  &[data-variant="primary"] {
    background-color: $primary;
    color: $neutral-100;
  }

  &[data-variant="danger"] {
    background-color: $danger;
    color: $neutral-100;
  }

  &[data-variant="success"] {
    background-color: $success;
    color: $neutral-100;
  }

  &[data-variant="neutral"] {
    background-color: $s-neutral-300;
    color: $s-neutral-900;
  }

  &[data-variant="warning"] {
    background-color: $warning;
    color: $neutral-900;
  }

  &[data-size="sm"] {
    --p-size: 20px;
    font-size: $fs-xxs;
  }

  &[data-size="md"] {
    --p-size: 30px;
    font-size: $fs-xs;
  }

  &[data-size="lg"] {
    --p-size: 40px;
    font-size: $fs-normal;
  }

  display: inline-block;
  width: auto;
  white-space: nowrap;

  border-radius: 25px;
  @include flex($flex: inline-flex);

  min-width: var(--p-size);
  padding: calc(var(--p-size) * 0.1) calc(var(--p-size) * 0.25);

  svg {
    width: calc(var(--p-size) * 0.5);
    height: calc(var(--p-size) * 0.5);
  }
}
