.dialog {
  padding: 1rem;

  & > div {
    width: min(100%, 400px);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &[data-danger] {
      svg {
        color: $danger;
      }
    }

    &:not([data-danger]) {
      svg {
        color: $primary;
      }
    }

    svg {
      width: 60px;
      height: 60px;
      margin-inline: auto;
    }

    p {
      text-align: center;
    }
  }
}
